<pagination-template #p="paginationApi" [id]="'paginate'" (pageChange)="_onPaginateChange($event)" [maxSize]="7">
    <div class="custom-pagination">
        <button class="pagination-last-page" [disabled]="p.isFirstPage()" [class.disabled]="p.isFirstPage()"
            (click)="p.setCurrent(1)">
            <!-- <mat-icon>first_page</mat-icon> -->
            first_page
        </button>
        <button class="pagination-previous" [disabled]="p.isFirstPage()" [class.disabled]="p.isFirstPage()"
            (click)="p.previous()">
            previous
        </button>
        <div *ngFor="let page of p.pages" class="button_div" [class.current]="p.getCurrent() === page.value">
            <button (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                {{ page.label }}
            </button>
            <button *ngIf="p.getCurrent() === page.value" class="active_page">
                {{ page.label }}
            </button>
        </div>
        <button class="pagination-next" [disabled]="p.isLastPage()" [class.disabled]="p.isLastPage()"
            (click)="p.next()">
            next
        </button>
        {{log(config)}}
        {{log(p)}}

        <button class="pagination-last-page" [disabled]="p.isLastPage()" [class.disabled]="p.isLastPage()"
            (click)="p.setCurrent(p.getLastPage())">
            <!-- <mat-icon>last_page</mat-icon> -->
            last_page
        </button>
    </div>

</pagination-template>