<nav class="header">
    <div>
        <ul>
            <li>Home</li>
            <li>product</li>
            <li>Users</li>
        </ul>
    </div>
    <div class="login_button">
        <button>Login</button>
    </div>
</nav>