<div class="container">
    <div class="search_section">
        <div class="search_by_field">
            <!-- <div class="dropdown_list">
                <div class="filter_by" (click)="_handleFilterByClick()">
                    <p>{{filterBy.name}} :</p>
                    <p>
                        @if(displayDropdown){
                        <lucide-icon name="chevron-up"></lucide-icon>
                        }@else {
                        <lucide-icon name="chevron-down"></lucide-icon>
                        }
                    </p>
                </div>
                <ul [class]="!displayDropdown ? 'hide':'show'">
                    @for (item of filterByOptions; track item) {
                    <li (click)="_handleFilterByClick(item?.query)">{{item?.name}}</li>
                    }

                </ul>
            </div> -->
            <input type="text" placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="_handelSearch($event)" />
        </div>
    </div>

    <div class="user_listing">
        <table>
            <thead>
                <tr>
                    @for(heading of theadData; track heading; let i= $index){
                    <th>{{heading}}</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for(user of usersData | paginate:config; track user; let index = $index){
                <tr>
                    <td>{{index+1}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.city}}</td>
                    <td>{{user.state}}</td>
                    <td>{{user.country}}</td>
                    <td>{{user.zipCode}}</td>
                    <td>{{user.birthday}}</td>
                    <td>{{user?.role}}</td>
                    <!-- <td>{{isUserLogin}}</td> -->
                    <!-- <app-card [userDetail]="user" [currentIndex]="index">
                <div class="card-actions d-flex">
                    <app-button [type]="'button'" name="'detail'" [class]="'detail'"
                        (_onClick)="_handleRedirect('detail',user)">
                        <lucide-icon class="my-icon" size="20" name="user" />
                    </app-button>
                    <app-button [type]="'button'" [class]="'edit'" name="'edit'"
                        (_onClick)="_handleRedirect('edit',user)">
                        <lucide-icon class="my-icon" size="20" name="pencil" />
                    </app-button>
                    <app-button [type]="'button'" [class]="'delete'" name="'delete'"
                        (_onClick)="_handleRedirect('delete',user)">
                        <lucide-icon class="my-icon" size="20" name="trash" />
                    </app-button>
                </div>
            </app-card> -->
                </tr>
                }
            </tbody>
        </table>
        <app-paginationComp [pageNumber]="1" [totalPages]="6" [config]="config"
            (_onPageChange)="_handlePageChange($event)" />
    </div>

    <ng-template #myTemplate class="s > > > > > > > > > > > > > > > > > > > >">
        <h2 mat-dialog-title>Confirmation</h2>
        <mat-dialog-content>
            <p>Are you sure you want to delete {{deleteUser['firstName']||""}} {{deleteUser['lastName']}}</p>
        </mat-dialog-content>
        <mat-dialog-actions class="actions">
            <button mat-button (click)="_handelDeleteUser()" cdkFocusInitial>Yes</button>
            <button mat-button [mat-dialog-close]>No</button>
        </mat-dialog-actions>

    </ng-template>
</div>