<div class="container">
    <div class="search_section">
        <div class="search_by_field">
            <div class="dropdown_list">
                <div class="filter_by" (click)="_handleFilterByClick()">
                    <p>{{filterBy.name}} :</p>
                    <p>
                        @if(displayDropdown){
                        <lucide-icon name="chevron-up"></lucide-icon>
                        }@else {
                        <lucide-icon name="chevron-down"></lucide-icon>
                        }
                    </p>
                </div>
                <ul [class]="!displayDropdown ? 'hide':'show'">
                    @for (item of filterByOptions; track item) {
                    <li (click)="_handleFilterByClick(item?.query)">{{item?.name}}</li>
                    }

                </ul>
            </div>
            <input type="text" [(ngModel)]="searchText" (ngModelChange)="_handelSearch($event)" />
        </div>
    </div>

    <div class="user_listing">
        <!-- @for(user of usersData|paginate:config; track user; let index = $index){ -->
        <div *ngFor="let user of usersData | paginate: config">
            <app-card [userDetail]="user" [currentIndex]="1">
                <div class="card-actions d-flex">
                    <app-button [type]="'button'" name="'detail'" [class]="'detail'"
                        (_onClick)="_handleRedirect('detail',user)">
                        <lucide-icon class="my-icon" size="20" name="user" />
                    </app-button>
                    <app-button [type]="'button'" [class]="'edit'" name="'edit'"
                        (_onClick)="_handleRedirect('edit',user)">
                        <lucide-icon class="my-icon" size="20" name="pencil" />
                    </app-button>
                    <app-button [type]="'button'" [class]="'delete'" name="'delete'"
                        (_onClick)="_handleRedirect('delete',user)">
                        <lucide-icon class="my-icon" size="20" name="trash" />
                    </app-button>
                </div>
            </app-card>

        </div>
        <app-paginationComp [pageNumber]="1" [totalPages]="6" [config]="config"
            (_onPageChange)="_handlePageChange($event)" />
        <!-- } -->
    </div>

    <ng-template #myTemplate class="s > > > > > > > > > > > > > > > > > > > >">
        <h2 mat-dialog-title>Confirmation</h2>
        <mat-dialog-content>
            <p>Are you sure you want to delete {{deleteUser['firstName']||""}} {{deleteUser['lastName']}}</p>
        </mat-dialog-content>
        <mat-dialog-actions class="actions">
            <button mat-button (click)="_handelDeleteUser()" cdkFocusInitial>Yes</button>
            <button mat-button [mat-dialog-close]>No</button>
        </mat-dialog-actions>

    </ng-template>
</div>