<section class="singleProduct_page_section">
    <div class="ProductInfo">
        <div class="image_sections">
            <img src="" />
        </div>
        <div class="content_section">
            <h1>TITLE</h1>
            <p>Description's</p>
            <div>{{singleProductData | json}}</div>
            <div class="action_section">
                <div class="qtyBtn">
                    <p>Quantity:</p>
                    <select value="{{singleProductData.quantity}}" (change)="_handleQty($event)">
                        <option *ngFor="let qty of _arrayConverter(singleProductData?.minimumOrderQuantity) "
                            value="{{qty}}">{{qty}}</option>
                    </select>

                </div>
                <div class="button_actions">

                </div>
            </div>
        </div>
    </div>
    <div class="review_Sections">
        <div class="rating_heading">
            <h2>Review's</h2>
            <div>4</div>
        </div>
        <div class="customer_reviews">
            <div class="review">
                <div class="details">
                    <h3>Rahul</h3>
                    <p>fsdjflsjfjsdj idjflksdjfsdjfsdlk fjosdjflsdjfoisdf oijofisdfosd </p>
                </div>
                <div class="stars">
                    star star start star
                </div>
            </div>
        </div>
    </div>
</section>