<section class="Product-add_section">

    <form [formGroup]="ProductFormGroup" (ngSubmit)="_handleOnSubmit(myForm)" #myForm="ngForm" novalidate>


        <div class="flex-box">
            <div class="form-Control">
                <app-textfield formControlName="itemId" [name]="'itemId'" [placeholder]="'Please enter your product ID'"
                    [label]="'Product ID'" />
            </div>
            <div class="form-Control">
                <app-textfield formControlName="name" [name]="'name'" [placeholder]="'Please enter your product name'"
                    [label]="'Product Name'" />
            </div>
        </div>

        <div class="flex-box">
            <div class="form-Control">
                <app-textfield formControlName="itemCode" [name]="'itemCode'"
                    [placeholder]="'Please enter your product code'" [label]="'Product Code'" />
            </div>
            <div class="form-Control">
                <app-textfield formControlName="webCategories" [name]="'webCategories'"
                    [placeholder]="'Please enter your webCategories'" [label]="'webCategories'" />
            </div>
        </div>

        <div>
            <h3>Price's</h3>
            <div formGroupName="price" class="flex-box">
                <div class="form-Control">
                    <app-textfield formControlName="normalPrice" [name]="'normalPrice'"
                        [placeholder]="'Please enter your MRP price'" [label]="'MRP Price'" />
                </div>
                <div class="form-Control">
                    <app-textfield formControlName="offerPrice" [name]="'offerPrice'"
                        [placeholder]="'Please enter your Offer Price'" [label]="'Offer Price'" />
                </div>
            </div>
        </div>
        <div class="flex-box">

            <div class="form-Control">
                <app-textfield formControlName="availableStock" [name]="'availableStock'"
                    [placeholder]="'Please enter your available stock'" [label]="'Available Stock'" />
            </div>
            <div class="form-Control">
                <app-textfield formControlName="returnPolicy" [name]="'returnPolicy'"
                    [placeholder]="'Please enter your returnPolicye'" [label]="'returnPolicy'" />
            </div>
        </div>
        <div>
            <div>
                switch - isEligibleForAutoOrder
            </div>
            <div>
                switch - hideFromAdmin
            </div>
            <div>
                switch - hideFromWeb
            </div>
        </div>
    </form>
</section>