.main_sighup_section {

    .sighup_box {
        box-shadow: 0 0 4px 1px #ff6521;
        border-radius: 5px;
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;

        .form-Control {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 10px;

            input {
                width: 100%;
            }
        }

        .action_section {
            margin-top: 10px;
        }
    }
}