<div class="container">
    <div class="row">
        <div class="userdetail_class">
            <div class="imageSection">
                <img class="image_div" src="https://i.pravatar.cc/180?img={{'60'}}" alt="dummy" />
            </div>
            <div class="public_details">
                <div>
                    <div>
                        <p><strong>First Name: </strong><span>Gaurav</span></p>
                        <p><strong>Last Name: </strong><span>Negi</span></p>
                        <p><strong>Address: </strong><span>2441 SE 23rd St</span></p>
                        <p><strong>E-mail: </strong><span>gaurav&#64;gmail.com</span></p>
                        <p><strong>Phone </strong><span>9878748785</span></p>
                        <p><strong>DOB: </strong><span>24-12-1998</span></p>
                        <p><strong>Country: </strong><span>US</span></p>
                        <p><strong>State: </strong><span>FL</span></p>
                        <p><strong>City: </strong><span>Cross City </span></p>
                        <p><strong>Zip-code: </strong><span>32628</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>