<button class="button_cart" *ngIf="!open" (click)="_openMiniCart(true)">
    <lucide-icon name="shopping-cart" class="cart_icon" />
</button>

<div *ngIf="open" class="main_mincart_section">
    <div class="mincart">
        <div class="cart-heading">
            <h1 class="title"> Shopping Cart </h1>
            <lucide-icon name="circle-x" class="cross_icons hand_cursor" (click)="_openMiniCart(false)" />
        </div>
        <div class="mini_products">
            @for(cart of cartData; track cart; let i = $index){
            <div>
                <div class="cart_box">
                    <div class="mini_product_img">
                        <img src="{{cart.normalImage}}" />
                    </div>
                    <div class="min_content">
                        <h3>{{cart.shortName||cart.name}}</h3>
                        <div class="qty">
                            <button>-</button>
                            <input type="text" readonly value="{{cart.quantity}}" />
                            <button>+</button>
                        </div>
                    </div>
                    <div class="price_delete">
                        <h2>{{cart.price | currency}}</h2>
                        <p class=""><span class="hand_cursor">Delete</span></p>
                    </div>
                </div>
                <span class="divider"></span>
            </div>

            }
        </div>
        <div class="total_section">
            <div class="SubTotal">
                <span>SubTotal ({{cartData|length}} items)</span>
                <span>302</span>
            </div>
        </div>
    </div>

</div>