.main_mincart_section {
    position: fixed;
    width: 100%;
    max-width: 570px;
    right: 0;
    top: 0;
    height: calc(100vh);
}

.mincart {
    width: 100%;
    background: #fff;
    height: calc(100vh);
    max-width: 570px;

    .cross_icons {
        color: #ff6521;
    }

    .cart-heading {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 10px;
        padding: 12px 10px;
        padding: 12px 10px;
        background: #ff6a00;

        h1 {
            margin: 0;
            text-align: left;
            width: 100%;
            color: #fff;
            font-weight: 600;

        }

        .cross_icons {
            color: #fff;
            width: 100%;
            max-width: calc(100%/3 - calc(10px/2));
        }
    }
}

.button_cart {
    position: fixed;
    right: 0;
    top: 50%;
    padding: 12px 10px;
    border: 1px solid #ff6521;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #ff6521;

    .cart_icon {
        color: #fff;
    }
}