/* You can add global styles to this file, and also import other style files */
:root {
    --primery-color: "#e78c8c"
}

// .container {
//     width: 100%;
//     max-width: 1372px;
//     margin: 0 auto;
// }

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 10px !important;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #ddd;
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 1px solid #000;
    /* creates padding around scroll thumb */
}



.form-Control {
    margin-bottom: 15px;
}

.text-danger {
    color: #f00;
}

.my-icon {
    font-size: 20px;
}

.flex-box {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}