/* You can add global styles to this file, and also import other style files */
:root {
    --primery-color: "#e78c8c"
}

@layer reset, primeng;

/* Reset CSS */
@layer reset {
    .p-dialog.p-dialog-resizable {
        width: 100%;
        max-width: 500px
    }

    .button_p {
        // width: ;
    }
}

// .container {
//     width: 100%;
//     max-width: 1372px;
//     margin: 0 auto;
// }

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 10px !important;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #ddd;
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 1px solid #000;
    /* creates padding around scroll thumb */
}



.form-Control {
    margin-bottom: 15px;
}

.text-danger {
    color: #f00;
}

.my-icon {
    font-size: 20px;
}

.flex-box {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}

.card-body .card-actions {
    // border: 1px solid;
    gap: 10px;
    margin-top: 8px;

    .action_button button {
        padding: 8px !important;
    }
}

.error-msg {
    margin: 10px 0 0 !important;
    color: #f00;
}

.success-msg {
    margin: 10px 0 0 !important;
    color: green;
}


.delete-modal {
    color: #ff6521;
}